.home-team-area {
    .single-team {
        position: relative;
        margin-bottom: 30px;
        transition: 0.5s;
        .team-img {
            position: relative;
            overflow: hidden;
            .social {
                position: absolute;
                text-align: center;
                margin: 0;
                padding: 0;
                z-index: 3;
                li {
                    display: inline-block;
                    margin: 0 5px;
                    a {
                        width: 35px;
                        height: 35px;
                        background: var(--whiteColor);
                        border-radius: 50%;
                        line-height: 37px;
                        text-align: center;
                        transition: 0.3s;
                        color: var(--mainColor);
                        transition: 0.3s;
                        i {
                            font-size: 17px;
                        }
                        &:hover {
                            background: var(--mainColor);
                            color: var(--whiteColor);
                        }
                    }
                }
                bottom: -200px;
                transition: 0.5s;
                position: absolute;
                width: 100%;
                left: 0;
            }
        }
        .content {
            padding: 20px;
            background-color: #f5faff;
            position: relative;
            z-index: 2;
            h3 {
                color: var(--darkBlueColor);
                margin-bottom: 0;
                transition: var(--transition);
            }
            p {
                margin-bottom: 0;
                font-size: 14px;
                transition: var(--transition);
            }
            &::before {
                position: absolute;
                content: "";
                width: 100%;
                height: 0;
                bottom: -50px;
                background: var(--darkBlueColor);
                opacity: 0.95;
                transition: 0.5s;
                z-index: -1;
                bottom: 0;
                left: 0;
            }
        }
        &:hover {
            .content {
                &::before {
                    height: 150px;
                }
                h3, p {
                    color: var(--whiteColor);
                }
            }
            .team-img {
                .social {
                    bottom: 8px;
                }
            }
        }
    }
}
::ng-deep {
    .home-team-area {
        .owl-dots {
            position: relative;
            margin-top: 20px;
            text-align: center;
            line-height: 1;
            .owl-dot {
                span {
                    width: 10px;
                    height: 10px;
                    background: #d0d0d0 !important;
                    border-radius: 50%;
                    margin: 0 5px;
                }
            }
            .owl-dot.active span {
                background: var(--mainColor) !important;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    ::ng-deep {
        .home-team-area {
            .owl-dots {
                margin-top: 0;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    ::ng-deep {
        .home-team-area {
            .owl-dots {
                margin-top: 0;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    ::ng-deep {
        .home-team-area {
            .owl-dots {
                margin-top: 0;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}