<div
    class="banner-area"
    style="background-image: url(images/home-bg-2.png);"
>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1>Trusted Effective Service and Solutions</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, et sed do eiusmod tempor incididunt labore dolore magna aliqua. Quis ipsum suspendisse.</p>
                            <div class="banner-btn">
                                <a routerLink="/contact" class="box-btn">Contact Us</a>
                                <a routerLink="/about" class="box-btn border-btn">Know More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img src="images/home-bg-1-img.png" alt="banner-img" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home-shape">
        <div class="shape1"><img src="images/shape/1.png" alt="shape"></div>
        <div class="shape2"><img src="images/shape/2.png" alt="shape"></div>
        <div class="shape3"><img src="images/shape/3.png" alt="shape"></div>
        <div class="shape4"><img src="images/shape/4.png" alt="shape"></div>
        <div class="shape5"><img src="images/shape/5.png" alt="shape"></div>
        <div class="shape6"><img src="images/shape/6.png" alt="shape"></div>
    </div>
</div>