<app-top-header />

<app-navbar />

<app-page-banner
    [pageTitle]="'Pricing'"
/>

<!-- Pricing -->
<div class="pricing-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing">
                    <div class="pricing-top-heading">
                        <h3>Basic</h3>
                        <p>Build A Website</p>
                    </div>
                    <span>$29<sub>/M</sub></span>
                    <ul>
                        <li><i class="bx bx-badge-check"></i> 10GB Storage Space</li>
                        <li><i class="bx bx-badge-check"></i> 50GB Bandwidth</li>
                        <li><i class="bx bx-badge-check"></i> 10 Free Sub-Domains</li>
                        <li><i class="bx bx-badge-check"></i> 10GB Storage Space</li>
                        <li><i class="bx bx-badge-check"></i> 50GB Bandwidth</li>
                        <li><i class="bx bx-badge-check"></i> 10 Free Sub-Domains</li>
                    </ul>
                    <a class="box-btn" routerLink=".">Get Started</a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing">
                    <div class="pricing-top-heading">
                        <h3>Standard</h3>
                        <p>Build A Website</p>
                    </div>
                    <span>$59 <sub>/M</sub></span>
                    <ul>
                        <li><i class="bx bx-badge-check"></i> 80GB Storage Space</li>
                        <li><i class="bx bx-badge-check"></i> 90GB Bandwidth</li>
                        <li><i class="bx bx-badge-check"></i> 10 Free Sub-Domains</li>
                        <li><i class="bx bx-badge-check"></i> 70GB Storage Space</li>
                        <li><i class="bx bx-badge-check"></i> 50GB Bandwidth</li>
                        <li><i class="bx bx-badge-check"></i> Unlimited Sub-Domains</li>
                    </ul>
                    <a class="box-btn" routerLink=".">Get Started</a>
                    <strong class="popular">Popular</strong>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-pricing">
                    <div class="pricing-top-heading">
                        <h3>Premium</h3>
                        <p>Build A Website</p>
                    </div>
                    <span>$79 <sub>/M</sub></span>
                    <ul>
                        <li><i class="bx bx-badge-check"></i> Unlimited Storage Space</li>
                        <li><i class="bx bx-badge-check"></i> Unlimited Bandwidth</li>
                        <li><i class="bx bx-badge-check"></i> Unlimited Sub-Domains</li>
                        <li><i class="bx bx-badge-check"></i> Unlimited Storage Space</li>
                        <li><i class="bx bx-badge-check"></i> Unlimited Bandwidth</li>
                        <li><i class="bx bx-badge-check"></i> Unlimited Domains</li>
                    </ul>
                    <a class="box-btn" routerLink=".">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>