<!--<div class="home-blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Blog Post</span>
            <h2>Our Regular Blogs</h2>
            <p>Stay informed on the latest technology trends, industry insights, and best practices through our regularly updated blog.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="images/blog/1.jpg" alt="blog"></a>
                    </div>
                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a routerLink="/blog-details"><h3>Joe’s Company Software Development Case</h3></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam aspernatur porro</p>
                        <a routerLink="/blog-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="images/blog/5.jpg" alt="blog"></a>
                    </div>
                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a routerLink="/blog-details"><h3>Temperature App UX Studies & Development Case</h3></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam aspernatur porro</p>
                        <a routerLink="/blog-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a routerLink="/blog-details"><img src="images/blog/3.jpg" alt="blog"></a>
                    </div>
                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a routerLink="/blog-details"><h3>IT Software Company Development Case</h3></a>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas in fugit minima modi perspiciatis nam aspernatur porro</p>
                        <a routerLink="/blog-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-btn text-center">
            <p>We Have More Use full Blogs For You. <a routerLink="/blog">View More</a></p>
        </div>
    </div>
</div>-->


<div class="home-blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Blog Post</span>
            <h2>Our Regular Blogs</h2>
            <p>Stay informed on the latest technology trends, industry insights, and best practices through our regularly updated blog.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a [routerLink]="['/blog-details', 'mainframe-modernization']"><img src="images/blog/1.jpg" alt="blog"></a>
                    </div>
                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a [routerLink]="['/blog-details', 'mainframe-modernization']"><h3>The Future of Mainframe: Modernization Strategies</h3></a>
                        <p>Explore comprehensive strategies for modernizing mainframe systems to meet current business demands while preserving critical legacy functionality.</p>
                        <a [routerLink]="['/blog-details', 'mainframe-modernization']" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a [routerLink]="['/blog-details', 'legacy-cloud-migration']"><img src="images/blog/5.jpg" alt="blog"></a>
                    </div>
                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a [routerLink]="['/blog-details', 'legacy-cloud-migration']"><h3>Legacy to Cloud Migration: A Comprehensive Guide</h3></a>
                        <p>Learn the essential steps and best practices for successfully migrating legacy systems to cloud environments while minimizing risks.</p>
                        <a [routerLink]="['/blog-details', 'legacy-cloud-migration']" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <div class="blog-img">
                        <a [routerLink]="['/blog-details', 'freelancing-training-course']"><img src="images/blog/3.jpg" alt="blog"></a>
                    </div>
                    <div class="content">
                        <ul>
                            <li>10 April 2024</li>
                            <li><a routerLink="/blog">By Admin</a></li>
                        </ul>
                        <a [routerLink]="['/blog-details', 'freelancing-training-course']"><h3>Building a Successful Freelancing Career in Tech</h3></a>
                        <p>Discover how our comprehensive freelancing training course can help you launch and grow a thriving tech freelancing career.</p>
                        <a [routerLink]="['/blog-details', 'freelancing-training-course']" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-btn text-center">
            <p>We Have More Useful Blogs For You. <a routerLink="/blog">View More</a></p>
        </div>
    </div>
</div>
