<!--<app-top-header />

<app-navbar />

<app-page-banner
    [pageTitle]="'Case Studies'"
/>-->
<!-- Case Studies -->
<!--<div class="home-case ptb-100">
    <div class="container">
        <div class="row case-list">
            <div class="col-lg-4 col-sm-6">
                <div class="single-case">
                    <div class="case-img">
                        <a routerLink="/case-study-details"><img src="images/case/c1.jpg" alt="case"/></a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-study-details"><h3>Joe’s Company Software Development Case</h3></a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a routerLink="/case-study-details" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-case">
                    <div class="case-img">
                        <a routerLink="/case-study-details"><img src="images/case/c2.jpg" alt="case"/></a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-study-details"><h3>Ride Share App UX Studies & Development Case</h3></a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a routerLink="/case-study-details" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-case">
                    <div class="case-img">
                        <a routerLink="/case-study-details"><img src="images/case/c3.jpg" alt="case"/></a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-study-details"><h3>Restaurant Management & Web Developing</h3></a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a routerLink="/case-study-details" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-case">
                    <div class="case-img">
                        <a routerLink="/case-study-details"><img src="images/case/c4.jpg" alt="case"/></a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-study-details"><h3>IT Software Company Development Case</h3></a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a routerLink="/case-study-details" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-case">
                    <div class="case-img">
                        <a routerLink="/case-study-details"><img src="images/case/c5.jpg" alt="case"/></a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-study-details"><h3>Parking Management & Web Developing</h3></a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a routerLink="/case-study-details" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-case">
                    <div class="case-img">
                        <a routerLink="/case-study-details"><img src="images/case/c6.jpg" alt="case"/></a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-study-details"><h3>Temperature App UX Studies & Development Case</h3></a>
                        <p>Lorem ipsum dolor sit amet, coloni is to nsectetur adipiscing elit, sed do eiudvi smod tempor incididunt ipsum dolor.</p>
                        <a routerLink="/case-study-details" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="page-navigation-area">
                <nav aria-label="Page navigation example text-center">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link page-links" routerLink="."><i class='bx bx-chevrons-left'></i></a></li>
                        <li class="page-item active"><a class="page-link" routerLink=".">1</a></li>
                        <li class="page-item"><a class="page-link" routerLink=".">2</a></li>
                        <li class="page-item"><a class="page-link" routerLink=".">3</a></li>
                        <li class="page-item"><a class="page-link" routerLink="."><i class='bx bx-chevrons-right'></i></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>-->


<app-top-header />

<app-navbar />

<app-page-banner [pageTitle]="'Projects'" />

<!-- Case Studies -->
<div class="home-case ptb-100">
    <div class="container">
        <div class="row case-list">
            <div class="col-lg-4 col-sm-6 case-item">
                <div class="single-case">
                    <div class="case-img">
                        <a [routerLink]="['/case-study', 'mainframe-db2-specialist']"><img src="images/case/c1.jpg" alt="case" /></a>
                    </div>
                    <div class="content">
                        <a [routerLink]="['/case-study', 'mainframe-db2-specialist']"><h3>Mainframe DB2 System Programming Excellence</h3></a>
                        <p>Banking sector transformation with DB2 expertise. Delivered 40% performance improvement and enhanced disaster recovery capabilities.</p>
                        <a [routerLink]="['/case-study', 'mainframe-db2-specialist']" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 case-item">
                <div class="single-case">
                    <div class="case-img">
                        <a [routerLink]="['/case-study', 'mainframe-zos-engineer']"><img src="images/case/c2.jpg" alt="case" /></a>
                    </div>
                    <div class="content">
                        <a [routerLink]="['/case-study', 'mainframe-zos-engineer']"><h3>Healthcare z/OS Systems Modernization</h3></a>
                        <p>Complex z/OS upgrade with zero downtime. Achieved 99.9% system stability and 35% performance increase.</p>
                        <a [routerLink]="['/case-study', 'mainframe-zos-engineer']" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 case-item">
                <div class="single-case">
                    <div class="case-img">
                        <a [routerLink]="['/case-study', 'mainframe-developer']"><img src="images/case/c3.jpg" alt="case" /></a>
                    </div>
                    <div class="content">
                        <a [routerLink]="['/case-study', 'mainframe-developer']"><h3>Banking Legacy System Modernization</h3></a>
                        <p>COBOL application transformation enabling digital banking. 70% reduction in maintenance time.</p>
                        <a [routerLink]="['/case-study', 'mainframe-developer']" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 case-item">
                <div class="single-case">
                    <div class="case-img">
                        <a [routerLink]="['/case-study', 'senior-java-developer']"><img src="images/case/c4.jpg" alt="case" /></a>
                    </div>
                    <div class="content">
                        <a [routerLink]="['/case-study', 'senior-java-developer']"><h3>Financial Services Digital Transformation</h3></a>
                        <p>Microservices architecture implementation with Spring Boot. 60% latency reduction achieved.</p>
                        <a [routerLink]="['/case-study', 'senior-java-developer']" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 case-item">
                <div class="single-case">
                    <div class="case-img">
                        <a [routerLink]="['/case-study', 'java-aws-developer']"><img src="images/case/c5.jpg" alt="case" /></a>
                    </div>
                    <div class="content">
                        <a [routerLink]="['/case-study', 'java-aws-developer']"><h3>Banking Cloud Migration Success</h3></a>
                        <p>AWS serverless transformation. 25% cost reduction and 40% performance improvement.</p>
                        <a [routerLink]="['/case-study', 'java-aws-developer']" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 case-item">
                <div class="single-case">
                    <div class="case-img">
                        <a [routerLink]="['/case-study', 'sap-hcm-consultant']"><img src="images/case/c6.jpg" alt="case" /></a>
                    </div>
                    <div class="content">
                        <a [routerLink]="['/case-study', 'sap-hcm-consultant']"><h3>Complex Payroll System Transformation</h3></a>
                        <p>SAP HCM implementation for multi-unit banking. $500K annual savings achieved.</p>
                        <a [routerLink]="['/case-study', 'sap-hcm-consultant']" class="line-bnt">View Project Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
