<div class="home-company-area bg-color">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="company-content">
                    <div class="company-tittle">
                        <span>Our Company</span>
                        <h2>Innovative It Helping Service All Over the World</h2>
                        <p>It is a long established fact that a reader will be distracted by the rea table content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more or less normal distribution of letters, as opposed to using Content here,content here normal distribution looking at its.</p>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form variations passages.</p>
                    </div>
                    <a routerLink="/about" class="box-btn">Know More</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="company-img">
                    <img src="images/company/company-img.jpg" alt="company" />
                </div>
            </div>
        </div>
    </div>
</div>