<div class="slider-area-2">
    <div class="home-slider">
        <owl-carousel-o [options]="homeSlides">
            <ng-template carouselSlide>
                <div
                    class="single-slider"
                    style="background-image: url(images/home-bg-3.jpg);"
                >
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12 text-center">
                                        <div class="slider-content one">
                                            <h1>Awesome App For Your Modern Lifestyle</h1>
                                            <p>Delivering custom IT solutions that streamline your business operations. Our expertise in modern technology frameworks enables your business to thrive in today's digital ecosystem.</p>
                                            <div class="slider-btn text-center">
                                                <a routerLink="/contact" class="box-btn">Let’s Talk!</a>
                                                <a routerLink="/about" class="box-btn border-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="single-slider"
                    style="background-image: url(images/home-bg-4.jpg);"
                >
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12 text-center">
                                        <div class="slider-content one">
                                            <h1>Digital Agency & Marketing</h1>
                                            <p>Strategic digital transformation powered by industry expertise. We help organizations navigate the complex technology landscape with tailored solutions and ongoing support.</p>
                                            <div class="slider-btn text-center">
                                                <a routerLink="/contact" class="box-btn">Let’s Talk!</a>
                                                <a routerLink="/about" class="box-btn border-btn">Know More!</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div
                    class="single-slider"
                    style="background-image: url(images/home-bg-5.jpg);"
                >
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="container">
                                <div class="row align-items-center">
                                    <div class="col-lg-12 text-center">
                                        <div class="slider-content one">
                                            <h1>Make Real-Life Connections With IT</h1>
                                            <p>Connecting businesses with innovative technology solutions that drive growth and efficiency. At Nexa Tech Services, we transform technological challenges into competitive advantages.</p>
                                            <div class="slider-btn text-center">
                                                <a routerLink="/contact" class="box-btn">Let’s Talk!</a>
                                                <a routerLink="/about" class="box-btn border-btn">Know More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
