<app-top-header />

<app-navbar />

<app-page-banner
    [pageTitle]="'Contact Us'"
/>

<!-- Contact Info -->
<div class="contact-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-contact">
                    <div class="icon">
                        <i class='bx bx-envelope'></i>
                    </div>
                    <div class="content">
                        <h3>Email</h3>
                        <p>accounts&#64;nexatechservices.com</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-contact">
                    <div class="icon">
                        <i class='bx bx-location-plus'></i>
                    </div>
                    <div class="content">
                        <h3>Address</h3>
                        <p>3504 Hurontario street, unit - 22I, Mississauga, ON L4Z 3K7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="single-contact">
                    <div class="icon">
                        <i class='bx bx-phone-call'></i>
                    </div>
                    <div class="content">
                        <h3>Phone</h3>
                        <p>+1 437-249-3336</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Us -->
<div class="home-contact-area home-2-contact pb-100">
    <div class="container">
        <div class="section-title">
            <span>Contact Us</span>
            <h2>Let Us Know About Your Project Idea!</h2>
            <p>We'd love to hear about your project and explore how we can help bring your vision to life. Whether you need IT consulting, system implementation, or comprehensive digital solutions, our team is ready to collaborate with you. Share your requirements below and we'll get back to you promptly.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="content">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" required placeholder="Your Name" />
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" required placeholder="Your Email" />
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input type="text" name="phone_number" id="phone_number" required class="form-control" placeholder="Your Phone" />
                                </div>
                            </div>
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <input type="text" name="msg_subject" id="msg_subject" class="form-control" required placeholder="Subject" />
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="5" required placeholder="Your Message"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="default-btn page-btn box-btn">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div
                    class="contact-img"
                    style="background-image: url(images/contact-img2.jpg);"
                >
                    <img src="images/contact-img2.jpg" alt="contact" />
                </div>
            </div>
        </div>
    </div>
</div>
