<div class="home-service-area pb-70">
    <div class="container">
        <div class="section-title">
            <span>Smart Services</span>
            <h2>Aiva Provide All Kind of Tech Solutions</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s1.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Visual Design
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s2.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Development
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s3.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            QA Testing
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s4.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            IT Management
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s5.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Cyber Security
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s6.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Wireless Connectivity
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>