<app-top-header />

<app-navbar />

<app-page-banner
    [pageTitle]="'Solutions'"
/>

<!-- Solutions -->
<div class="home-service-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s1.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Visual Design
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s2.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Development
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s3.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            QA Testing
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s4.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            IT Management
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s5.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Cyber Security
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s6.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Wireless Connectivity
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s1.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Visual Design
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s2.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Development
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s3.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            QA Testing
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s4.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            IT Management
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s5.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Cyber Security
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service">
                    <div class="service-img">
                        <img src="images/service/s6.png" alt="service" />
                    </div>
                    <div class="service-content">
                        <h3><a routerLink="/solution-details">
                            Wireless Connectivity
                        </a></h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vel sit maxime assumenda. maiores, magnam</p>
                        <a routerLink="/solution-details" class="line-bnt">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="page-navigation-area">
                    <nav aria-label="Page navigation example text-center">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link page-links" routerLink="."><i class='bx bx-chevrons-left'></i></a></li>
                            <li class="page-item active"><a class="page-link" routerLink=".">1</a></li>
                            <li class="page-item"><a class="page-link" routerLink=".">2</a></li>
                            <li class="page-item"><a class="page-link" routerLink=".">3</a></li>
                            <li class="page-item"><a class="page-link" routerLink="."><i class='bx bx-chevrons-right'></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>