.blog-details-area {
	.blog-details-desc {
		.article-image {
			position: relative;
			background-color: var(--headingColor);
		}
		.article-content {
			margin-top: 30px;
			.entry-meta {
				margin-bottom: -10px;
				ul {
					padding-left: 0;
					margin-bottom: 0; 
					list-style-type: none;
					li {
						position: relative;
						display: inline-block;
						color: var(--mainColor);
						margin-right: 21px;
						font-size: 14px;
						span {
							display: inline-block;
							color: var(--mainColor);
							font-weight: 500;
						}
						a {
							display: inline-block;
							color: #666666;
							font-size: 13px;
							&:hover {
								color: var(--mainColor);
							}
						}
						i {
							color: var(--mainColor);
							margin-right: 2px;
						}
						&::before {
							content: '';
							position: absolute;
							top: 11px;
							right: -15px;
							width: 6px;
							height: 1px;
							background: var(--mainColor);
						}
						&:last-child {
							margin-right: 0;
							&::before {
								display: none;
							}
						}
					}
				}
			}
			h3 {
				margin-bottom: 13px;
				margin-top: 25px;
				font-size: 30px;
			}
			.wp-block-gallery.columns-3 {
				padding-left: 0;
				list-style-type: none;
				display: flex;
				flex-wrap: wrap;
				margin-right: -10px;
				margin-left: -10px;
				margin-bottom: 30px;
				margin-top: 30px;
				li {
					flex: 0 0 33.3333%;
					max-width: 33.3333%;
					padding-right: 10px;
					padding-left: 10px;
					figure {
						margin-bottom: 0;
					}
				}
			}
		}
		.article-footer {
			display: flex;
			flex-wrap: wrap;
			margin-top: 30px;
			.article-tags {
				flex: 0 0 50%;
				max-width: 50%;
				span {
					display: inline-block;
					color: var(--mainColor);
					font-size: 20px;
					margin-right: 5px;
					position: relative;
					top: 4px;
				}
				a {
					display: inline-block;
					color: #666666;
					font-weight: 600;
					&:hover {
						color: var(--mainColor);
					}
				}
			}
			.article-share {
				flex: 0 0 50%;
				max-width: 50%;
				.social {
					padding-left: 0;
					list-style-type: none;
					text-align: right;
					margin-bottom: 0;
					li {
                        margin-left: 3px;
						display: inline-block;
						span {
							display: inline-block;
							margin-right: 2px;
							font-weight: 500;
							color: #666666;
						}
						a {
							display: block;
							color: var(--whiteColor);
							width: 32px;
							height: 32px;
							line-height: 33px;
							border-radius: 50%;
							background-color: var(--mainColor);
							text-align: center;
							font-size: 14px;
							&:hover {
								animation: rubberBand 1s linear;
							}
						}
					}
				}
			}
		}
		.post-navigation {
			margin-top: 30px;
		}
	}
	blockquote {
		overflow: hidden;
		background-color: #f7f7f7;
		padding: 50px !important;
		position: relative;
		z-index: 1;
		margin-bottom: 20px;
		margin-top: 20px;
		border-radius: var(--borderRadius);
		p {
			color: var(--headingColor);
			line-height: 1.6;
			margin-bottom: 0;
			font-style: italic;
			font-weight: 600;
			font-size: 17px !important;
			text-align: center;
		}
		cite {
			display: none;
		}
		&::before {
			color: var(--mainColor);
			content: "\ee34";
			position: absolute;
			left: 50px;
			top: -50px;
			z-index: -1;
			font-family:'boxicons';
			font-size: 140px;
			font-weight: 900;
			opacity: 0.1;
		}
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: 3px;
			background-color: var(--mainColor);
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
	.post-navigation {
		border-top: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		padding-top: 20px;
		padding-bottom: 20px;
		.navigation-links {
			display: flex;
			flex-wrap: wrap;
			.nav-previous {
				flex: 0 0 50%;
				max-width: 50%;
				a {
					i {
						margin-right: 0;
						font-size: 20px;
						position: relative;
						top: 4px;
					}
				}
			}
			.nav-next {
				flex: 0 0 50%;
				max-width: 50%;
				text-align: right;
				a {
					i {
						margin-left: 0;
						font-size: 20px;
						position: relative; 
						top: 4px;
					}
				}
			}
			div {
				a {
					display: inline-block;
					font-weight: 600;
					color: var(--headingColor);
					&:hover {
						color: var(--mainColor);
					}
				}
			}
		}
	}
	.comments-area {
		padding: 25px;
		margin-top: 30px;
		box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
		background-color: var(--whiteColor);
		.comments-title {
			position: relative;
			margin-bottom: 30px;
			line-height: initial;
			font-size: 22px;
			&::before {
				content: '';
				height: 25px;
				width: 3px;
				left: -25px;
				position: absolute;
				background: var(--mainColor);
				top: 50%;
				transform: translateY(-50%);
			}
		}
		ol {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		.comment-list {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}
		.children {
			margin-left: 40px;
		}
		.comment-body {
			border-bottom: 1px solid #eeeeee;
			padding-left: 65px;
			font-size: 14px;
			margin-bottom: 20px;
			padding-bottom: 20px;
			.reply {
				margin-top: 15px;
				a {
					border: 1px solid #ded9d9;
					color: var(--headingColor);
					display: inline-block;
					padding: 5px 20px;
					border-radius: 30px;
					text-transform: uppercase;
					position: relative;
					z-index: 1;
					font-size: 13px;
					font-weight: 600;
					&:hover {
						color: var(--whiteColor);
						background-color: var(--mainColor);
						border-color: var(--mainColor);
					}
				}
			}
		}
		.comment-meta {
			margin-bottom: .8em;
		}
		.comment-author {
			font-size: 16px;
			margin-bottom: 0.4em;
			position: relative;
			z-index: 2;
			.avatar {
				height: 50px;
				left: -65px;
				position: absolute;
				width: 50px;
				border-radius: 50%;
			}
			.fn {
				font-weight: 600;
				color: var(--headingColor);
				font-size: 18px;
			}
			.says {
				display: none;
			}
		}
		.comment-metadata {
			color: #666666;
			letter-spacing: 0.01em;
			text-transform: uppercase;
			font-size: 13px;
			font-weight: 500;
			a {
				color: #666666;
				font-size: 11px;
				&:hover {
					color: var(--mainColor);
				}
			}
		}
		.comment-content {
			p {
				font-size: 14px;
			}
		}
		.comment-respond {
			margin-top: 30px;
			.comment-reply-title {
				margin-bottom: 15px;
				position: relative;
				font-size: 22px;
				&::before {
					content: '';
					height: 25px;
					width: 3px;
					left: -25px;
					position: absolute;
					background: var(--mainColor);
					top: 50%;
					transform: translateY(-50%);
				}
				#cancel-comment-reply-link {
					display: inline-block;
				}
			}
			.comment-form {
				overflow: hidden;
			}
			.comment-form-comment {
				margin-bottom: 30px;
				float: left;
				width: 100%;
			}
			label {
				display: block;
				font-weight: 500;
				color: var(--headingColor);
				margin-bottom: 5px;
			}
			
			input[type="datetime-local"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="week"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;  
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="month"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="text"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="email"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="url"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="password"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="search"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="tel"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			input[type="number"] {
				display: block;
				width: 100%;
				background-color: #f7f7f7;
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			textarea {
				display: block;
				width: 100%;
				background-color: #f7f7f7; 
				border: 1px solid #eeeeee;
				padding: 0.625em 0.7375em;
				outline: 0;
				transition: 0.5s;
				&:focus {
					border-color: var(--mainColor);
				}
			}
			.comment-form-author {
				float: left;
				width: 50%;
				padding-right: 10px;
				margin-bottom: 20px;
			}
			.comment-form-email {
				float: left;
				width: 50%;
				padding-left: 12px;
				margin-bottom: 20px;
			}
			.comment-form-url {
				float: left;
				width: 100%;
				margin-bottom: 20px;
			}
			.comment-form-cookies-consent {
				width: 100%;
				float: left;
				position: relative;
				padding-left: 20px;
				margin-bottom: 20px;
				input {
					position: absolute;
					left: 0;
					top: 6px;
				}
				label {
					display: inline-block;
					margin: 0;
					color: #666666;
					font-weight: normal;
				}
			}
			.form-submit {
				float: left;
				width: 100%;
				input {
					background: var(--mainColor);
					border: none;
					color: var(--whiteColor);
					padding: 14px 30px 12px;
					display: inline-block;
					cursor: pointer;
					outline: 0;
					border-radius: 0;
					text-transform: uppercase;
					transition: 0.5s;
					font-weight: 500;
					font-size: 14px;
					&:hover {
						color: var(--whiteColor);
						background-color: var(--headingColor);
					}
					&:focus {
						color: var(--whiteColor);
						background-color: var(--mainColor);  
					}
				}
			}
		}
	}
	
	/*
	Sidebar Widget Area Style
	================================*/
	.widget-area {
		.widget {
			margin-top: 35px;
			background-color: var(--whiteColor);
			box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.08);
			.post-wrap {
				padding: 20px;
			}
			&:first-child {
				margin-top: 0;
			}
			.widget-title {
				text-transform: capitalize;
				position: relative;
				font-size: 20px;
				margin-bottom: 0;
				background-color: #ececec;
				padding: 10px 20px;
				color: var(--headingColor);
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 2px;
					height: 100%;
					background-color: var(--mainColor);
				}
			}
		}
		.widget_search {
			form {
				position: relative;
				label {
					display: block;
					margin-bottom: 0;
				}
				.screen-reader-text {
					display: none;
				}
				.search-field {
					background-color: transparent;
					height: 50px;
					padding: 6px 15px;
					border: 1px solid #eeeeee;
					width: 100%;
					display: block;
					outline: 0;
					transition: 0.5s;
					&:focus {
						border-color:var(--mainColor);
					}
				}
				button {
					position: absolute;
					right: 0;
					outline: 0;
					bottom: 0;
					height: 50px;
					width: 50px;
					border: none;
					color: var(--whiteColor);
					background-color: var(--mainColor);
					transition: 0.5s;
					cursor: pointer;
					&:hover {
						background-color: var(--headingColor);
					}
				}
			}
		}
		.widget-peru-posts-thumb {
			position: relative;
			overflow: hidden;
			.item {
				overflow: hidden;
				margin-bottom: 10px;
				padding-bottom: 10px;
				border-bottom: 1px solid #efefef;
				&:last-child {
					margin-bottom: 0;
					border-bottom: none;
					padding-bottom: 0;
				}
				.thumb {
					float: left;
					height: 80px;
					overflow: hidden;
					position: relative;
					width: 80px;
					margin-right: 15px;
					.fullimage {
						width: 80px;
						height: 80px;
						display: inline-block;
						background-size: cover !important;
						background-repeat: no-repeat;
						background-position: center center !important;
						position: relative;
						background-color: var(--headingColor);
					}
				}
				.info {
					overflow: hidden;
					span {
						display: block;
						color: #666666;
						text-transform: uppercase;
						margin-top: 5px;
						margin-bottom: 5px;
						font-size: 12px;
						font-weight: 500;
					}
					.title {
						margin-bottom: 0;
						line-height: 1.5;
						font-size: 14px;
						font-weight: 600;
						a {
							display: inline-block;
							color: #474c40;
							&:hover {
								color: var(--mainColor);
							}
						}
					}
				}
			}
		}
		.widget_recent_entries {
			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
				li {
					position: relative;
					margin-bottom: 12px;
					color: #666666;
					padding-left: 17px;
					line-height: 1.5;
					font-size: 15px;
					font-weight: 600;
					&:last-child {
						margin-bottom: 0;
					}
					&::before {
						background: var(--mainColor);
						position: absolute;
						height: 7px;
						width: 7px;
						content: '';
						left: 0;
						top: 7px;
					}
					.post-date {
						display: block;
						font-size: 13px;
						color: #666666;
						margin-top: 4px;
					}
				}
			}
		}
		.widget_categories {
			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
				li {
					position: relative;
					padding-bottom: 10px;
					margin-bottom: 10px;
					color: #666666;
					padding-left: 20px;
					font-size: 15px;
					font-weight: 600;
					border-bottom: 1px solid #efefef;
					&:last-child {
						margin-bottom: 0;
						border-bottom: none;
					}
					&::before {
						background: var(--mainColor);
						position: absolute;
						height: 10px;
						width: 10px;
						content: '';
						left: 0;
						top: 9px;
						clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
					}
					a {
						display: block;
						color: #666666;
						font-weight: normal;
						font-size: 14px;
						span {
							float: right;
							font-size: 13px;
						}
						&:hover {
							color: var(--mainColor);
						}
					}
					.post-count {
						float: right;
					}
				}
			}
		}
		.widget_meta {
			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
				li {
					position: relative;
					padding-bottom: 10px;
					margin-bottom: 10px;
					color: #666666;
					padding-left: 17px;
					font-size: 15px;
					font-weight: 500;
					border-bottom: 1px solid #efefef;
					a {
						color: var(--bodyColor);
						&:hover {
							color: var(--mainColor);
						}
					}
					&:last-child {
						margin-bottom: 0;
					}
					&::before {
						background: var(--mainColor);
						position: absolute;
						height: 10px;
						width: 10px;
						content: '';
						left: 0;
						top: 9px;
						clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
					}
				}
			}
		}
		.widget_tag_cloud {
			.widget-title {
				margin-bottom: 0;
			}
		}
		.tagcloud {
			a {
				display: inline-block;
				color: #666666;
				font-weight: normal;
				font-size: 14px !important;
				padding: 7px 10px;
				border: 1px dashed #eeeeee;
				margin-top: 10px;
				margin-right: 10px;
				text-transform: capitalize;
				&:hover {
					background-color: var(--mainColor);
					color: var(--whiteColor);
				}
				&:focus {
					background-color: var(--mainColor);
					color: var(--whiteColor);
					border-color: var(--mainColor);
				}
			}
		}
		.widget_services_list {
			ul {
				padding-left: 0;
				list-style-type: none;
				margin-bottom: 0;
				box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.04);
				background-color: var(--whiteColor);
				li {
					a {
						display: block;
						position: relative;
						border-bottom: 1px solid #eeeeee;
						padding-top: 15px;
						padding-bottom: 15px;
						padding-left: 15px;
						padding-right: 35px;
						color: #5d6576;
						z-index: 1;
						font-weight: 500;
						&::before {
							content: "";
							position: absolute;
							left: 0;
							top: 0;
							width: 0;
							height: 100%;
							background: #252920;
							transition: 0.5s;
							opacity: 0;
							visibility: hidden;
						}
						i {
							position: absolute;
							right: 15px;
							top: 50%;
							transform: translateY(-50%);
						}
						&:hover {
							background-color: var(--mainColor);
							color: var(--whiteColor);
							padding-left: 20px;
							&::before {
								opacity: 1;
								visibility: visible;
								width: 5px;
							}
						}
					}
					a.active {
						background-color: var(--mainColor);
						color: var(--whiteColor);
						padding-left: 20px;
						&::before {
							opacity: 1;
							visibility: visible;
							width: 5px;
						}
					}
					&:last-child {
						a {
							border-bottom: none;
						}
					}
				}
			}
		}
		.widget_download {
			ul {
				padding-left: 0;
				list-style-type: none;
				margin-bottom: 0;
				box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.04);
				background-color: var(--whiteColor);
				li {
					a {
						display: block;
						position: relative;
						border-bottom: 1px solid #eeeeee;
						padding-top: 15px;
						padding-bottom: 15px;
						padding-left: 15px;
						padding-right: 35px;
						color: #5d6576;
						z-index: 1;
						font-weight: 500;
						&::before {
							content: "";
							position: absolute;
							left: 0;
							top: 0;
							width: 0;
							height: 100%;
							background: #252920;
							transition: 0.5s;
							opacity: 0;
							visibility: hidden;
						}
						i {
							position: absolute;
							right: 15px;
							top: 50%;
							transform: translateY(-50%);
						}
						&:hover {
							background-color: var(--mainColor);
							color: var(--whiteColor);
							padding-left: 20px;
							&::before {
								opacity: 1;
								visibility: visible;
								width: 5px;
							}
						}
					}
					a.active {
						background-color: var(--mainColor);
						color: var(--whiteColor);
						padding-left: 20px;
						&::before {
							opacity: 1;
							visibility: visible;
							width: 5px;
						}
					}
					&:last-child {
						a {
							border-bottom: none;
						}
					}
				}
			}
		}
		.info time {
			font-size: 13px;
			color: #929292;
			display: block;
			margin-bottom: 4px;
		}
	} 
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .blog-details-area {
        .blog-details-desc {
            .article-content {
                .entry-meta {
                    ul {
                        li {
                            display: block;
                            font-size: 15px;
                            margin-right: 0;
                            margin-bottom: 5px;
                            &::before {
                                display: none;
                            }
                        }
                    }
                }
                h3 {
                    line-height: 1.5;
                    margin-bottom: 10px;
                    margin-top: 20px;
                    font-size: 22px;
                }
                p {
                    font-size: 15px;
                }
                .features-list {
                    li {
                        font-size: 15px;
                    }
                }
            }
        }
        .widget-area .widget {
            padding: 0;
        }
        blockquote {
            padding: 30px !important;
            p {
                font-size: 16px !important;
            }
        }
        .blockquote {
            padding: 30px !important;
            p {
                font-size: 16px !important;
            }
        }
        .comments-area {
            padding: 20px;
            .comment-author {
                .avatar {
                    left: 0;
                    position: relative;
                    display: block;
                    margin-bottom: 10px;
                }
                font-size: 15px;
                margin-bottom: 0.3em;
            }
            .comment-body {
                padding-left: 0;
            }
            .comments-title {
                font-size: 19px;
                &::before {
                    left: -20px;
                }
            }
            .comment-metadata {
                font-size: 12px;
            }
            .comment-respond {
                .comment-reply-title {
                    font-size: 19px;
                    &::before {
                        left: -20px;
                    }
                }
                .comment-form-author {
                    width: 100%;
                    padding-right: 0;
                }
                .comment-form-email {
                    width: 100%;
                    padding-left: 0;
                }
                .form-submit {
                    input {
                        padding: 12px 25px 10px;
                    }
                }
            }
        }
    }
    .blog-details-area .comments-area .children {
        margin-left: 0;
    }
    #secondary {
        margin-top: 35px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .blog-details-area  {
        .blog-details-desc {
            .article-content {
                .entry-meta {
                    ul {
                        li {
                            display: inline-block;
                            font-size: 15px;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    #secondary {
        margin-top: 35px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}