<div class="main-banner-three">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="main-banner-content">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <div class="content">
                                <h1>Secure IT Solutions For A More Secure Environment</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                                <div class="slider-btn-wrap">
                                    <a routerLink="/contact" class="box-btn">Contact Us </a>
                                    <a routerLink="/about" class="box-btn border-btn">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pr-0 col-md-12">
                <div class="banner-image-slider">
                    <owl-carousel-o [options]="bannerImageSlides">
                        <ng-template carouselSlide>
                            <div class="banner-image" style="background-image: url(images/home-three/banner-img.jpg);"></div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="banner-image" style="background-image: url(images/home-three/banner-img-2.jpg);"></div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>