.home-process-area {
    background-color: var(--darkBlueColor);
    .section-title {
        span {
            color: var(--whiteColor);
        }
        h2 {
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
        }
    }
    .single-process {
        text-align: center;
        margin-bottom: 30px;
        position: relative;
        .icon {
            background: #1e2a55;
            display: inline-block;
            width: 60px;
            height: 60px;
            line-height: 56px;
            margin-bottom: 30px;
            border-radius: 3px;
            position: relative;
        }
        .content {
            h3 {
                color: var(--whiteColor);
            }
            p {
                color: var(--whiteColor);
                margin-bottom: 0;
                font-size: 14px;
            }
        }
        span {
            position: absolute;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                content: "";
                height: 170px;
                border-right: 1px dashed #f5faff;
                transform: rotate(90deg);
                top: -55px;
                left: 122px;
                z-index: -1;
            }
            img {
                max-width: 100px;
                margin-left: 100px;
                animation: leftani 5s infinite linear;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .home-process-area {
        .single-process {
            .icon {
                margin-bottom: 20px;
            }
            span {
                display: none;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .home-process-area {
        .single-process {
            .icon {
                margin-bottom: 20px;
            }
            span {
                display: none;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}